n8nWorkflow-Siemends.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    id, \n    alert_type, \n    source_ip, \n    severity, \n    ai_analysis->>'employee_notice' as message,\n    ai_analysis->>'summary' as technical_details\nFROM detected_alerts \nWHERE status = 'OPEN' \n  AND severity IN ('HIGH', 'CRITICAL')\n  AND ai_label = 'True Positive';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        112
      ],
      "id": "a6daa7a1-d956-4c6f-8ccc-2b71d4d89a57",
      "name": "Execute a SQL query",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "S43ufzAwMzhAn5I1",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        112
      ],
      "id": "c02d81ad-5422-4a25-b4b1-fe2908767fad",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "-5200407525",
        "text": "=  🚨 {{ $json.severity }} ALERT 🚨         \n\nAttack: {{ $json.alert_type }}         \nSource IP: {{ $json.source_ip }}          \nAI Guidance: {{ $json.message }} \n\n{{ $json.technical_details }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        112
      ],
      "id": "34ff3205-028f-4d6d-a16c-90385226d2e0",
      "name": "Send a text message",
      "webhookId": "9cd37608-9602-4691-886c-8c1d57b886da",
      "credentials": {
        "telegramApi": {
          "id": "cK45NgbXjN3W2x5v",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE detected_alerts \nSET status = 'NOTIFIED' \nWHERE id = {{ $node[\"Execute a SQL query\"].json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        112
      ],
      "id": "da1b8834-8daf-42bf-abaa-71dd5c2f3f0b",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "S43ufzAwMzhAn5I1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10001",
          "mode": "list",
          "cachedResultName": "Siem-test"
        },
        "issueType": {
          "__rl": true,
          "value": "10007",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "=🚨 {{ $node[\"Execute a SQL query\"].json[\"severity\"] }} SIEM Alert: {{ $node[\"Execute a SQL query\"].json[\"alert_type\"] }}",
        "additionalFields": {
          "description": "=Source IP: {{ $node[\"Execute a SQL query\"].json[\"source_ip\"] }}\\n\\nAI Technical Summary: {{ $node[\"Execute a SQL query\"].json[\"technical_details\"] }}",
          "priority": {
            "__rl": true,
            "value": "2",
            "mode": "list",
            "cachedResultName": "High"
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        288,
        336
      ],
      "id": "8a1b4b08-6b5f-44a3-a266-8593d583bcfb",
      "name": "Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "pbUwR04GSUSSJTlE",
          "name": "Jira SW Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bf7b2fea-05f0-49aa-b14a-454bf4fe7f4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f39766471d8a10e42a1f365b661dc6ff1f7802678700344d28f5a878e2ba121"
  },
  "id": "DaAISYUN2oldKwJ8",
  "tags": []
}